.sidebar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 117px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #020203;
    color: white;
    z-index: -1;

    &__container {
        display: flex;
        justify-content: space-around;
        align-self: center;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 64px;
            height: 64px;
        }
    }

    &__copiryght-container {
        width: 138px;
        height: 70px;
        position: absolute;
        bottom: 3.42%;
    }

    &__copiryght-text {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 24px;
        transform: rotate(-90deg);
    }
}
